In [1]:
import pandas as pd
from ethnicolr import census_ln, pred_census_ln, pred_wiki_ln

Using TensorFlow backend.

In [2]:
airbnb = pd.read_csv('C:/Users/dlsim/Documents/_College/1 UC Davis/4 Senior Year/Spr - STA 160 - Practice in Data Science/160 - Airbnb/AirbnbStudy/airbnb_wdistances.csv')
airbnb_ethn = pd.read_csv('C:/Users/dlsim/Documents/_College/1 UC Davis/4 Senior Year/Spr - STA 160 - Practice in Data Science/160 - Airbnb/AirbnbStudy/airbnb_all_ethn.csv', encoding = 'utf8')

In [3]:
airbnb.head()
df = pd.DataFrame(airbnb.host_name)

In [4]:
ethn_df = census_ln(df, 'host_name',2010)
print(ethn_df)

              host_name pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0                  John    40.98    21.03  21.27   11.17      2.41        3.15
1              Jennifer     60.8    21.93   2.66     (S)       (S)       13.29
2             Elisabeth      NaN      NaN    NaN     NaN       NaN         NaN
3           LisaRoxanne      NaN      NaN    NaN     NaN       NaN         NaN
4                 Laura    58.58     6.22   3.72    0.33      1.32       29.83
5                 Chris    76.06    11.87   3.19    3.47      1.64        3.76
6                 Garon    82.44      2.2   6.48     (S)       (S)        7.14
7              Shunichi      NaN      NaN    NaN     NaN       NaN         NaN
8             MaryEllen    93.18      (S)    (S)       0         0        4.55
9                   Ben    26.08    27.76  11.58    24.9      2.86        6.82
10                 Lena    69.54     2.15   2.97   10.77      2.05       12.51
11                 Kate    67.22    16.56   9.27     (S)       4.3         (S)
12               Laurie    87.78     6.13   1.05    0.71      1.45        2.89
13              Claudio    10.48     1.14   5.33     (S)       (S)       82.39
14                Alina    36.63      (S)  42.57     (S)      8.91        6.93
15        Allen & Irina      NaN      NaN    NaN     NaN       NaN         NaN
16                 Jane    59.43    10.36  10.74       1      1.12       17.35
17                 Doti    88.63     5.69    (S)       0       (S)        2.84
18     Adam And Charity      NaN      NaN    NaN     NaN       NaN         NaN
19                 Sing    34.21      7.5  43.63    0.92      5.86        7.88
20                Chaya    83.08      (S)   7.25     (S)      4.23        4.23
21                Lisel      NaN      NaN    NaN     NaN       NaN         NaN
22                Lisel      NaN      NaN    NaN     NaN       NaN         NaN
23                Lisel      NaN      NaN    NaN     NaN       NaN         NaN
24             Nathalie      NaN      NaN    NaN     NaN       NaN         NaN
25              Gregory    78.64    15.56   0.57    0.75      1.99        2.49
26      Claude & Sophie      NaN      NaN    NaN     NaN       NaN         NaN
27                Tommi      NaN      NaN    NaN     NaN       NaN         NaN
28                 Shon    16.65      (S)  75.68     (S)      4.71        1.75
29                 Dana    79.63     1.87   8.02    2.48      2.15        5.85
...                 ...      ...      ...    ...     ...       ...         ...
48865            Brenda    76.29    11.64    (S)     (S)         0        9.48
48866           Alberth    89.83      (S)      0     (S)      4.24         (S)
48867             Diana    74.34     1.52   5.53     (S)       (S)       17.31
48868             Diana    74.34     1.52   5.53     (S)       (S)       17.31
48869             Julia    45.65      4.3   6.84     (S)       (S)       42.03
48870             Tanja      NaN      NaN    NaN     NaN       NaN         NaN
48871         Ozzy Ciao      NaN      NaN    NaN     NaN       NaN         NaN
48872               Ben    26.08    27.76  11.58    24.9      2.86        6.82
48873    Clement & Rose      NaN      NaN    NaN     NaN       NaN         NaN
48874           Jeffrey    76.72    16.58   0.94    0.38      2.14        3.25
48875         Anastasia    93.26     1.54    (S)     (S)      0.96        3.46
48876            Joseph    29.59    54.19   9.76    0.99      2.49        2.98
48877           Melanie      NaN      NaN    NaN     NaN       NaN         NaN
48878       Jeerathinan      NaN      NaN    NaN     NaN       NaN         NaN
48879               Lee    35.95    16.33  42.22    0.97      2.64        1.89
48880             Melki    90.24      (S)    (S)       0      5.49         (S)
48881            Adrien     18.8    75.35    (S)     (S)      1.69        4.01
48882             Luisa    28.86      (S)    (S)       0       (S)       68.66
48883           Kendall    85.73      8.9   0.81    0.54      1.99        2.03
48884          Jonathan    41.95    15.75  16.64    9.38      6.02       10.27
48885           Kendall    85.73      8.9   0.81    0.54      1.99        2.03
48886             Scott    60.21    32.92   0.51    1.18      2.59        2.58
48887             Melki    90.24      (S)    (S)       0      5.49         (S)
48888               Kat     48.7    14.29  30.52     (S)       (S)         3.9
48889           Michael    83.59     8.88   1.95    0.67      1.85        3.06
48890           Sabrina      NaN      NaN    NaN     NaN       NaN         NaN
48891           Marisol      NaN      NaN    NaN     NaN       NaN         NaN
48892     Ilgar & Aysel      NaN      NaN    NaN     NaN       NaN         NaN
48893               Taz      NaN      NaN    NaN     NaN       NaN         NaN
48894        Christophe    15.23    78.26   0.58     0.7      1.86        3.37

[48895 rows x 7 columns]

In [22]:
ethn_df.dropna().shape[0]

32652

In [23]:
ethn_df.dropna()

        host_name pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0            John    40.98    21.03  21.27   11.17      2.41        3.15
1        Jennifer     60.8    21.93   2.66     (S)       (S)       13.29
4           Laura    58.58     6.22   3.72    0.33      1.32       29.83
5           Chris    76.06    11.87   3.19    3.47      1.64        3.76
6           Garon    82.44      2.2   6.48     (S)       (S)        7.14
...           ...      ...      ...    ...     ...       ...         ...
48886       Scott    60.21    32.92   0.51    1.18      2.59        2.58
48887       Melki    90.24      (S)    (S)       0      5.49         (S)
48888         Kat     48.7    14.29  30.52     (S)       (S)         3.9
48889     Michael    83.59     8.88   1.95    0.67      1.85        3.06
48894  Christophe    15.23    78.26   0.58     0.7      1.86        3.37

[32652 rows x 7 columns]

In [5]:
#df1 = census_ln(df, "host_name")
#df2 = pred_census_ln(df,"host_name")
df3 = pred_wiki_ln(df, "host_name")

#nas1 = df1.dropna().shape[0]
#nas2 = df2.dropna().shape[0]
nas3 = df3.dropna().shape[0]

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\dlsim\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

In [33]:
#print(nas1,nas2,nas3)

32411 48874 48874

In [35]:
df3.to_csv('EthnicityPredictions.csv', index = False)

,host_name,race,"Asian,GreaterEastAsian,EastAsian","Asian,GreaterEastAsian,Japanese","Asian,IndianSubContinent","GreaterAfrican,Africans","GreaterAfrican,Muslim","GreaterEuropean,British","GreaterEuropean,EastEuropean","GreaterEuropean,Jewish","GreaterEuropean,WestEuropean,French","GreaterEuropean,WestEuropean,Germanic","GreaterEuropean,WestEuropean,Hispanic","GreaterEuropean,WestEuropean,Italian","GreaterEuropean,WestEuropean,Nordic"
0,John,"GreaterEuropean,British",0.118720,0.008419,0.060675,0.059561,0.004151,0.611506,0.009811,0.028905,0.020061,0.020591,0.023875,0.026158,0.007566
1,Jennifer,"GreaterEuropean,British",0.021046,0.004517,0.009110,0.011712,0.008745,0.800473,0.013227,0.026613,0.042861,0.019961,0.016349,0.022732,0.002655
2,Elisabeth,"GreaterEuropean,Jewish",0.003397,0.001515,0.097884,0.116299,0.072111,0.190527,0.044167,0.195029,0.012824,0.055732,0.054400,0.063075,0.093040
3,LisaRoxanne,"GreaterEuropean,WestEuropean,French",0.006007,0.002943,0.003201,0.001511,0.005558,0.038614,0.007791,0.002592,0.523514,0.001405,0.043668,0.360715,0.002482
4,Laura,"GreaterEuropean,WestEuropean,Hispanic",0.007914,0.005499,0.105290,0.032809,0.015094,0.028093,0.025625,0.029095,0.090565,0.006219,0.468178,0.179910,0.005709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,Sabrina,"GreaterEuropean,WestEuropean,Italian",0.006589,0.008382,0.003764,0.008321,0.018897,0.018180,0.048864,0.024373,0.105586,0.002144,0.286659,0.466496,0.001744
48891,Marisol,"GreaterEuropean,British",0.002167,0.018899,0.067780,0.012073,0.026471,0.452222,0.063440,0.134185,0.072391,0.017284,0.087487,0.039564,0.006037
48892,Ilgar & Aysel,"GreaterEuropean,British",0.000493,0.001352,0.010872,0.076393,0.182625,0.248732,0.015672,0.189909,0.036419,0.010001,0.185225,0.018511,0.023797
48893,Taz,"GreaterAfrican,Muslim",0.219171,0.017838,0.008832,0.014987,0.394269,0.042547,0.032953,0.060238,0.045238,0.015298,0.105234,0.036325,0.007069
48894,Christophe,"GreaterEuropean,British",0.005218,0.001457,0.004846,0.003173,0.013963,0.841382,0.002022,0.006723,0.051299,0.003766,0.012111,0.038588,0.015451